$bg-color:#030504;
$text-color: #2f8ca3;
$link-color:#f4af2d;

@font-face {
    font-family: 'TronFont';
    src: url('Tr2n.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }


//General Code
%text-style{
    color: $text-color;
    font-size: large;
    font-family: 'TronFont';
    text-shadow: 0 0 5px $text-color,0 0 15px $text-color,0 0 30px $text-color;

    .advise{
        color: $link-color;
        font-family: 'TronFont';
        text-shadow: 0 0 5px $link-color,0 0 15px $link-color,0 0 30px $link-color;
    }

    a{
        color: $link-color;
        text-decoration: none;
        font-family: 'TronFont';
        padding: 3px;
        text-shadow: 0 0 5px $link-color,0 0 15px $link-color,0 0 30px $link-color;
        border-bottom: solid transparent;
        border-top: solid transparent;
        transition: 0.5s;
    }
    a:hover{
        border-bottom: $link-color solid 2px;
        border-top: $link-color solid 2px;
        border-radius: 10px;
        
    }

    button:hover{
        color: $link-color;
        text-shadow: 0 0 5px $link-color,0 0 15px $link-color,0 0 30px $link-color;
    }
}

body{
    @extend %text-style;
    background-color: $bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

%tronBox{
    @extend %text-style;
    border: 2px solid $text-color;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 50px $text-color, inset 0 0 20px $text-color;
    background-color: $bg-color;
}

%tronBox-active{
    @extend %text-style;
    border: 2px solid $link-color;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 50px $link-color, inset 0 0 20px $link-color;
    background-color: $bg-color;
}

//Main Structure
.sort-colums{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    .container-2col{
        flex: 0.9;
        display: flex;
        padding: 10px;
        .child-main{
            flex: 0.7;
            padding: 5px;
        }
        .child-sec{
            flex: 0.3;
            padding: 5px;
            align-content: center;
        }
    }
    
    // footer
    .bottom-part{
        text-align: center;
        flex: 0.1;
    }
}

//Childs main structure
.menu{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
    img{
        width: 40%;
        height: 100%;
        flex: 0.05;
    }
    h1{
        width: fit-content;
        flex: 0.95;
        padding-left: 10px;
    }
}


.input-box-tron{
    @extend %tronBox;
    font-size: x-large;
    width: 90%;
    height: 45%;
    margin-left: 15px;
}

.result-box-tron{
    @extend %tronBox;
    width: auto;
    height: 90%;

    button{
        @extend %tronBox;
        width: 100%;
        transition: 0.5s;
    }
    button:hover{
        @extend %tronBox-active
    }

    p{
        width: 100%;
        word-break: break-word;
    }

}

select{
        @extend %tronBox;
        width: 100%;
        transition: 0.5s;
}

select:hover{
    @extend %tronBox-active
}

.selection-box{
    display: block;
    padding: 15px;

    p, label{
        padding-left: 15px;
    }

    label{
        font-size: x-large;
    }
}

// For mobile phones:
@media only screen and (max-width: 768px) {
    .container-2col {
      width: 100%;
      flex-direction: column;
    }

    .result-box-tron{
        width: 80%;
    }

    .input-box-tron{
        width: 80%;
        margin-left: 0px;
    }

    .selection-box{
        padding: 0px;
    }

    select{
        width: 90%;
    }

    .menu{
        h1{
            margin-top: 22px;
            font-size: 180%;
        }
    }
}