@font-face {
  font-family: "TronFont";
  src: url("Tr2n.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
select:hover, .result-box-tron button:hover, select, .result-box-tron button, .result-box-tron, .input-box-tron, body {
  color: #2f8ca3;
  font-size: large;
  font-family: "TronFont";
  text-shadow: 0 0 5px #2f8ca3, 0 0 15px #2f8ca3, 0 0 30px #2f8ca3;
}
.result-box-tron button:hover .advise, select .advise, .result-box-tron .advise, .input-box-tron .advise, body .advise {
  color: #f4af2d;
  font-family: "TronFont";
  text-shadow: 0 0 5px #f4af2d, 0 0 15px #f4af2d, 0 0 30px #f4af2d;
}
select:hover a, .result-box-tron button:hover a, select a, .result-box-tron a, .input-box-tron a, body a {
  color: #f4af2d;
  text-decoration: none;
  font-family: "TronFont";
  padding: 3px;
  text-shadow: 0 0 5px #f4af2d, 0 0 15px #f4af2d, 0 0 30px #f4af2d;
  border-bottom: solid transparent;
  border-top: solid transparent;
  transition: 0.5s;
}
select a:hover, .result-box-tron a:hover, .input-box-tron a:hover, body a:hover {
  border-bottom: #f4af2d solid 2px;
  border-top: #f4af2d solid 2px;
  border-radius: 10px;
}
select button:hover, .result-box-tron button:hover, .input-box-tron button:hover, body button:hover {
  color: #f4af2d;
  text-shadow: 0 0 5px #f4af2d, 0 0 15px #f4af2d, 0 0 30px #f4af2d;
}

body {
  background-color: #030504;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

select, .result-box-tron button, .result-box-tron, .input-box-tron {
  border: 2px solid #2f8ca3;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 50px #2f8ca3, inset 0 0 20px #2f8ca3;
  background-color: #030504;
}

select:hover, .result-box-tron button:hover {
  border: 2px solid #f4af2d;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 50px #f4af2d, inset 0 0 20px #f4af2d;
  background-color: #030504;
}

.sort-colums {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
.sort-colums .container-2col {
  flex: 0.9;
  display: flex;
  padding: 10px;
}
.sort-colums .container-2col .child-main {
  flex: 0.7;
  padding: 5px;
}
.sort-colums .container-2col .child-sec {
  flex: 0.3;
  padding: 5px;
  align-content: center;
}
.sort-colums .bottom-part {
  text-align: center;
  flex: 0.1;
}

.menu {
  display: flex;
  height: 50px;
  margin-bottom: 20px;
}
.menu img {
  width: 40%;
  height: 100%;
  flex: 0.05;
}
.menu h1 {
  width: fit-content;
  flex: 0.95;
  padding-left: 10px;
}

.input-box-tron {
  font-size: x-large;
  width: 90%;
  height: 45%;
  margin-left: 15px;
}

.result-box-tron {
  width: auto;
  height: 90%;
}
.result-box-tron button {
  width: 100%;
  transition: 0.5s;
}
select {
  width: 100%;
  transition: 0.5s;
}

.selection-box {
  display: block;
  padding: 15px;
}
.selection-box p, .selection-box label {
  padding-left: 15px;
}
.selection-box label {
  font-size: x-large;
}

@media only screen and (max-width: 768px) {
  .container-2col {
    width: 100%;
    flex-direction: column;
  }
  .result-box-tron {
    width: 80%;
  }
  .input-box-tron {
    width: 80%;
    margin-left: 0px;
  }
  .selection-box {
    padding: 0px;
  }
  select {
    width: 90%;
  }
  .menu h1 {
    margin-top: 22px;
    font-size: 180%;
  }
}

/*# sourceMappingURL=styles.css.map */
